## Imports

In [1]:
#!pip install texthero
#!pip install --upgrade numpy
#!pip install surprise

In [2]:
#from google.colab import drive
#drive.mount('/content/drive')

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import texthero as hero
from texthero import preprocessing

# Import from Surprise 
from surprise.prediction_algorithms import knns
from surprise.similarities import cosine, msd, pearson
from surprise import accuracy
from surprise import Reader, Dataset
from surprise.model_selection import train_test_split, cross_validate, GridSearchCV
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline, SVD
import warnings

---
## EDA

In [4]:
def eda(df):
    """Function to perform some basic EDA on my datasets"""
    
    #Inspect the first 5 rows
    display(df.head())
    print("\n")
    
    # Count of non-null values, datatypes, and total entries
    display(df.info())
    print("\n")
    
    # Check descriptive statistics
    display(df.describe())
    print("\n")
    
    # Check value counts
    for c in df.columns:
        print ("---- %s ----" % c)
        print (df[c].value_counts())
        print("\n")
    
    # Print null values
    display(df.isna().sum())
    print('Total Null Count:', df.isna().sum().sum())

> ### First Data Set
>
> [Beer Reviews](https://www.kaggle.com/rdoume/beerreviews)
>
>Not combining this data for now, it's proving to be too complicated

In [5]:
#beer_reviews = pd.read_csv('data/beer_reviews.csv')
#eda(beer_reviews)

In [6]:
# dropping irrelevant columns
#beer_reviews = beer_reviews.drop(columns=['review_time','review_profilename'])

# renaming columns for consistency among all dataframes
#beer_reviews = beer_reviews.rename(columns={'review_overall': 'overall', 'review_aroma': 'smell', 'review_appearance':'look',
#                                           'beer_style':'style','review_palate':'feel','review_taste':'taste','beer_abv':'abv',
#                                           'beer_beerid':'beer_id'})

In [7]:
#beer_reviews.head()

---
> ### Second Data Set
>
> [Beers, Breweries, and Beer Reviews](https://www.kaggle.com/ehallmar/beers-breweries-and-beer-reviews?select=beers.csv)

In [8]:
beer = pd.read_csv('/content/drive/MyDrive/capstone/beers.csv')

In [9]:
eda(beer)

       id                                  name  ...                   notes retired
0  202522                        Olde Cogitator  ...  No notes at this time.       f
1   82352  Konrads Stout Russian Imperial Stout  ...  No notes at this time.       f
2  214879                        Scottish Right  ...  No notes at this time.       t
3  320009               MegaMeow Imperial Stout  ...    Every time this year       f
4  246438                       Peaches-N-Cream  ...  No notes at this time.       f

[5 rows x 10 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358873 entries, 0 to 358872
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            358873 non-null  int64
 1   name          358873 non-null  object
 2   brewery_id    358873 non-null  int64
 3   state         298147 non-null  object
 4   country       358719 non-null  object
 5   style         358872 non-null  object
 6   availability  358873 non-null  object
 7   abv           320076 non-null  float64
 8   notes         358827 non-null  object
 9   retired       358873 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 27.4+ MB

None

                  id     brewery_id            abv
count  358873.000000  358873.000000  320076.000000
mean   189241.027199   24597.365051       6.528504
std    107675.746916   16442.976904       2.085403
min         3.000000       1.000000       0.010000
25%     96422.000000    7318.000000       5.000000
50%    189909.000000   28383.000000       6.000000
75%    282546.000000   37452.000000       7.500000
max    374406.000000   54144.000000     100.000000

---- id ----
2047      1
252462    1
236070    1
234023    1
256552    1
         ..
95620     1
97669     1
91526     1
93575     1
2049      1
Name: id, Length: 358873, dtype: int64


---- name ----
Oktoberfest                 755
IPA                         633
Pale Ale                    620
Hefeweizen                  477
Oatmeal Stout               443
                           ...
Prion Porter                  1
Fifty Fifty Sorachi Pale      1
Spaltfest                     1
Kalifornia Uncommon           1
San Juan Pale Ale             1
Name: name, Length: 298567, dtype: int64


---- brewery_id ----
1550     1229
28383    1225
17981    1043
1146      922
13307     898
         ...
42996       1
24813       1
18853       1
25889       1
37054       1
Name: brewery_id, Length: 16569, dtype: int64


---- state ----
CA    33649
PA    17083
NY    14572
CO    14182
MI    12690
      ...
MB      171
PE       98
YT       86
NL       77
NT        4
Name: state, Length: 67, dtype: int64


---- country ----
US    265461
CA     21522
GB     13923
DE      6888
BE      5253
       ...
GQ         1
GA         1
BW         1
MO         1
NE         1
Name: country, Length: 193, dtype: int64


---- style ----
American IPA                       44719
American Pale Ale (APA)            22159
American Imperial IPA              18338
Belgian Saison                     18167
American Wild Ale                  12972
                                   ...
Finnish Sahti                        123
Japanese Happoshu                    123
Bière de Champagne / Bière Brut      116
Belgian Faro                          32
Wild/Sour Beers                        4
Name: style, Length: 112, dtype: int64


---- availability ----
 Rotating                  98776
 Limited (brewed once)     72047
 Year-round                56800
Rotating                   48002
Limited (brewed once)      34798
Year-round                 19744
 Winter                     6427
 Fall                       5908
 Summer                     5136
 Spring                     3349
Fall                        2310
Winter                      2293
Summer                      1973
Spring                      1286
 Limited (brewed once)         9
 Rotating                      6
 Year-round                    4
 Fall                          3
 Summer                        1
 Winter                        1
Name: availability, dtype: int64


---- abv ----
5.00     23143
6.00     18073
5.50     15877
7.00     13401
6.50     13191
         ...
8.44         1
13.43        1
12.32        1
8.29         1
1.60         1
Name: abv, Length: 939, dtype: int64


---- notes ----
No notes at this time.                                                                                                                                                                                                                                                                                 309078
Single-Hop IPA                                                                                                                                                                                                                                                                                             26
Brewed at De Proefbrouwerij.                                                                                                                                                                                                                                                                               24
 No notes at this time.                                                                                                                                                                                                                                                                                    23
30 IBU                                                                                                                                                                                                                                                                                                     22
                                                                                                                                                                                                                                                                                                        ...
Honey ale aged in a Krogstad Aquavit barrel with strong notes of anise and caraway.                                                                                                                                                                                                                         1
Brewed with cacao nibs, vanilla and raspberry                                                                                                                                                                                                                                                               1
Formerly Red Ryder                                                                                                                                                                                                                                                                                          1
With the spice package of corned beef including our custom spice mix of cinnamon sticks, juniper berries, pink peppercorns, allspice, bay leaves, whole cloves, ginger and yellow mustard seed, we expertly add a hint of sauerkraut and further sour it for a light, delicate and refreshing beer.         1
Formerly 'Dirty Blonde', Dirty is an American Style wheat beer with a twist. We brew this beer with American ale yeast which keeps it light and refreshing. Dry hopping with Cascade and Centennial lends a strong grapefruit aroma and citrus flavor.                                                      1
Name: notes, Length: 48312, dtype: int64


---- retired ----
f    240480
t    118393
Name: retired, dtype: int64

id                  0
name                0
brewery_id          0
state           60726
country           154
style               1
availability        0
abv             38797
notes              46
retired             0
dtype: int64

Total Null Count: 99724

In [10]:
# dropping irrelevant columns
beer = beer.drop(columns=['country','notes'])

# renaming columns for consistency among all dataframes
beer = beer.rename(columns={'id': 'beer_id', 'name': 'beer_name'})

#removing rows without state data
beer = beer.dropna(subset=['state'])

# cleaning the availability column 
beer['availability'] = beer['availability'].str.strip()

In [11]:
beer.head()

   beer_id                beer_name  brewery_id  ... availability  abv retired
0   202522           Olde Cogitator        2199  ...     Rotating  7.3       f
2   214879           Scottish Right       44306  ...   Year-round  4.0       t
3   320009  MegaMeow Imperial Stout        4378  ...       Winter  8.7       f
4   246438          Peaches-N-Cream       44617  ...     Rotating  5.1       f
6   108605              Icon Sender       22598  ...   Year-round  5.6       f

[5 rows x 8 columns]

In [12]:
eda(beer)

   beer_id                beer_name  brewery_id  ... availability  abv retired
0   202522           Olde Cogitator        2199  ...     Rotating  7.3       f
2   214879           Scottish Right       44306  ...   Year-round  4.0       t
3   320009  MegaMeow Imperial Stout        4378  ...       Winter  8.7       f
4   246438          Peaches-N-Cream       44617  ...     Rotating  5.1       f
6   108605              Icon Sender       22598  ...   Year-round  5.6       f

[5 rows x 8 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298147 entries, 0 to 358872
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   beer_id       298147 non-null  int64
 1   beer_name     298147 non-null  object
 2   brewery_id    298147 non-null  int64
 3   state         298147 non-null  object
 4   style         298146 non-null  object
 5   availability  298147 non-null  object
 6   abv           263558 non-null  float64
 7   retired       298147 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 20.5+ MB

None

             beer_id     brewery_id            abv
count  298147.000000  298147.000000  263558.000000
mean   194002.156272   25343.706101       6.608174
std    106328.032039   16261.618864       2.064542
min         3.000000       2.000000       0.010000
25%    103642.500000    9819.000000       5.200000
50%    196192.000000   29238.000000       6.100000
75%    286387.500000   37625.000000       7.600000
max    374406.000000   54144.000000     100.000000

---- beer_id ----
2047      1
250671    1
33605     1
39750     1
60232     1
         ..
136424    1
138473    1
134379    1
144620    1
2049      1
Name: beer_id, Length: 298147, dtype: int64


---- beer_name ----
Oktoberfest                              724
IPA                                      516
Pale Ale                                 477
Hefeweizen                               443
Oatmeal Stout                            416
                                        ...
The Angel and The Sword                    1
Cambridge House Stonehenge Ale             1
Rudy's Dark                                1
Side Trail Series : Beard Of Paradise      1
San Juan Pale Ale                          1
Name: beer_name, Length: 247134, dtype: int64


---- brewery_id ----
28383    1225
17981    1043
1146      922
147       736
16866     723
         ...
50863       1
30393       1
49473       1
41242       1
2344        1
Name: brewery_id, Length: 10011, dtype: int64


---- state ----
CA    33649
PA    17083
NY    14572
CO    14182
MI    12690
      ...
MB      171
PE       98
YT       86
NL       77
NT        4
Name: state, Length: 67, dtype: int64


---- style ----
American IPA                       40330
American Pale Ale (APA)            19348
American Imperial IPA              16976
Belgian Saison                     16416
American Wild Ale                  12132
                                   ...
European Strong Lager                 67
Bière de Champagne / Bière Brut       64
Belgian Faro                          12
Wild/Sour Beers                        4
Japanese Happoshu                      1
Name: style, Length: 112, dtype: int64


---- availability ----
Rotating                 133085
Limited (brewed once)     96029
Year-round                44531
Fall                       7360
Winter                     6933
Summer                     6325
Spring                     3884
Name: availability, dtype: int64


---- abv ----
5.00     17166
6.00     14822
5.50     12891
7.00     11133
6.50     10705
         ...
10.14        1
15.42        1
2.16         1
10.54        1
8.05         1
Name: abv, Length: 889, dtype: int64


---- retired ----
f    194878
t    103269
Name: retired, dtype: int64

beer_id             0
beer_name           0
brewery_id          0
state               0
style               1
availability        0
abv             34589
retired             0
dtype: int64

Total Null Count: 34590

---
> ### Third Data Set
>
> [Beers, Breweries, and Beer Reviews](https://www.kaggle.com/ehallmar/beers-breweries-and-beer-reviews?select=beers.csv)

In [13]:
# reading in the dataframe containing the breweries
breweries = pd.read_csv('/content/drive/MyDrive/capstone/breweries.csv')

In [14]:
# eda on that data
eda(breweries)

      id  ...                     types
0  19730  ...                   Brewery
1  32541  ...  Brewery, Bar, Beer-to-go
2  44736  ...               Bar, Eatery
3  23372  ...                     Store
4  35328  ...               Bar, Eatery

[5 rows x 7 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50347 entries, 0 to 50346
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       50347 non-null  int64
 1   name     50347 non-null  object
 2   city     50289 non-null  object
 3   state    39076 non-null  object
 4   country  50341 non-null  object
 5   notes    50262 non-null  object
 6   types    50347 non-null  object
dtypes: int64(1), object(6)
memory usage: 2.7+ MB

None

                 id
count  50347.000000
mean   27870.513874
std    15270.535930
min        1.000000
25%    15487.500000
50%    28313.000000
75%    40922.500000
max    54156.000000

---- id ----
2047     1
48413    1
36123    1
34074    1
40217    1
        ..
37479    1
39526    1
33381    1
35428    1
2049     1
Name: id, Length: 50347, dtype: int64


---- name ----
Whole Foods Market                      162
Total Wine & More                       147
Cost Plus World Market                  118
Mellow Mushroom                         114
Trader Joe's                             88
                                       ...
Sparrow Wine & Liquor Co. - Downtown      1
Coconuts Bar & Grill                      1
Craftbeers                                1
Mosaic Cafe & Lounge                      1
The Portcullis                            1
Name: name, Length: 45245, dtype: int64


---- city ----
Chicago                     512
Philadelphia                505
New York                    432
Portland                    370
London                      358
                           ...
Piazzola sul Brenta (PD)      1
Villarodin-Bourget            1
Ate                           1
Amble                         1
Babenhausen                   1
Name: city, Length: 11664, dtype: int64


---- state ----
CA     3638
PA     2454
NY     2284
GB2    2152
FL     1595
       ...
MB       36
NL       23
PE        7
YT        3
NT        1
Name: state, Length: 67, dtype: int64


---- country ----
US    34693
GB     2525
CA     1890
DE     1812
BE      756
      ...
TJ        1
GW        1
HT        1
CV        1
TD        1
Name: country, Length: 199, dtype: int64


---- notes ----
No notes at this time.                                          46475
Hours:                                                            136
 No notes at this time.                                            74
Hours:                                                             68
OWNED BY ANHEUSER-BUSCH INBEV                                      18
                                                                ...
Monday to Saturday 12am a 20pm                                      1
Formerly Bailey's Pub & Grille                                      1
Rated #3 Beer Bar on Planet Earth by Beer Advocate magazine.        1
Located in Terminal A of Denver International Airport.              1
Not a licensed brewery. Plz delete.                                 1
Name: notes, Length: 3270, dtype: int64


---- types ----
Bar, Eatery                                   13573
Store                                          9726
Brewery                                        8005
Brewery, Bar, Eatery                           2801
Bar, Eatery, Beer-to-go                        2789
Brewery, Bar, Beer-to-go                       2670
Bar                                            2466
Brewery, Bar, Eatery, Beer-to-go               2370
Brewery, Bar                                   1360
Bar, Beer-to-go                                1258
Homebrew                                        806
Brewery, Beer-to-go                             755
Brewery, Eatery                                 671
Eatery, Beer-to-go                              272
Homebrew, Beer-to-go                            224
Eatery                                          186
Brewery, Eatery, Beer-to-go                      93
Bar, Homebrew, Beer-to-go                        61
Brewery, Bar, Homebrew, Beer-to-go               52
Brewery, Bar, Eatery, Homebrew, Beer-to-go       40
Brewery, Homebrew                                40
Brewery, Homebrew, Beer-to-go                    31
Bar, Eatery, Homebrew, Beer-to-go                28
Brewery, Bar, Homebrew                           28
Brewery, Bar, Eatery, Homebrew                   23
Bar, Homebrew                                     6
Bar, Eatery, Homebrew                             4
Eatery, Homebrew, Beer-to-go                      4
Brewery, Eatery, Homebrew                         4
Brewery, Eatery, Homebrew, Beer-to-go             1
Name: types, dtype: int64

id             0
name           0
city          58
state      11271
country        6
notes         85
types          0
dtype: int64

Total Null Count: 11420

In [15]:
# dropping irrelevant columns
breweries = breweries.drop(columns=['notes'])

# renaming columns for consistency among all dataframes
breweries = breweries.rename(columns={'id': 'brewery_id', 'name': 'brewery_name'})

#removing rows without state data
beer = beer.dropna(subset=['state'])

In [16]:
# making sure everything looks right
breweries.head()

   brewery_id  ...                     types
0       19730  ...                   Brewery
1       32541  ...  Brewery, Bar, Beer-to-go
2       44736  ...               Bar, Eatery
3       23372  ...                     Store
4       35328  ...               Bar, Eatery

[5 rows x 6 columns]

---
> ### Fourth Data Set
>
> [Beers, Breweries, and Beer Reviews](https://www.kaggle.com/ehallmar/beers-breweries-and-beer-reviews?select=beers.csv)

In [17]:
reviews = pd.read_csv('/content/drive/MyDrive/capstone/reviews.csv')

In [18]:
eda(reviews)

   beer_id         username        date  ...  feel  overall  score
0   271781     bluejacket74  2017-03-17  ...  4.25     4.00   4.03
1   125646          _dirty_  2017-12-21  ...  4.50     4.50   4.50
2   125646          CJDUBYA  2017-12-21  ...  4.75     4.75   4.75
3   125646  GratefulBeerGuy  2017-12-20  ...  4.50     4.50   4.58
4   125646         LukeGude  2017-12-20  ...  4.25     4.25   4.31

[5 rows x 10 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9073128 entries, 0 to 9073127
Data columns (total 10 columns):
 #   Column    Dtype
---  ------    -----
 0   beer_id   int64
 1   username  object
 2   date      object
 3   text      object
 4   look      float64
 5   smell     float64
 6   taste     float64
 7   feel      float64
 8   overall   float64
 9   score     float64
dtypes: float64(6), int64(1), object(3)
memory usage: 692.2+ MB

None

            beer_id          look  ...       overall         score
count  9.073128e+06  5.283110e+06  ...  5.283110e+06  9.073128e+06
mean   7.730655e+04  3.952155e+00  ...  3.916280e+00  3.889815e+00
std    7.929345e+04  5.517191e-01  ...  6.054554e-01  6.127417e-01
min    3.000000e+00  1.000000e+00  ...  1.000000e+00  1.000000e+00
25%    1.155400e+04  3.750000e+00  ...  3.500000e+00  3.570000e+00
50%    5.654500e+04  4.000000e+00  ...  4.000000e+00  4.000000e+00
75%    1.076670e+05  4.250000e+00  ...  4.250000e+00  4.250000e+00
max    3.731280e+05  5.000000e+00  ...  5.000000e+00  5.000000e+00

[8 rows x 7 columns]

---- beer_id ----
11757     17160
2093      15947
7971      14927
1093      14915
29619     14292
          ...
203777        1
126326        1
109950        1
282050        1
8188          1
Name: beer_id, Length: 309542, dtype: int64


---- username ----
Sammy            13798
kylehay2004      12221
acurtis          12016
StonedTrippin    11859
jaydoc           11800
                 ...
mgerwien             1
rss                  1
robpod               1
leviticus7           1
BeermanLIc           1
Name: username, Length: 164934, dtype: int64


---- date ----
2011-11-15    17648
2011-11-14    17010
2011-11-16     9571
2014-07-20     9066
2011-11-18     8739
              ...
2000-12-21        1
2000-11-11        1
1998-06-10        1
2000-09-19        1
1998-02-18        1
Name: date, Length: 6560, dtype: int64


---- text ----
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               6085135
   0%                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            78177
   You had this beer. Write a review.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             2616
   On tap at the brewery                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            95
   C / AVERAGE                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      92
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ...
   Best octoberfest beer out there. even though sam adams offering is good, this is way better, just seems a little naughty drinking this in the summer months of August in Florida. LoL, but i'll enjoy it whenever.                                                                                                                                                                                                                                                                                                                                                                                                                                1
   The can says "all malt;" I like malt; so it's pretty good.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
   Thanks to my great son, studying overseas in Amsterdam. I was brought this for the unique chance to enjoy direct from brewery. And brother, what a brew! They really put together a fine frosty, just top-notch all the way around. Clear, sunshine yellow (until I mixed in the goodies on the bottom), with a superb creamy white head, THICK sheets of lace. Nice aromas of clove, banana and bubblegum, intertwined with the heavy malt backbone. Rich and creamy wheat brew. All the flavors compliment each other. This is a true session brew, I could go for popper topped bottle after bottle on a fine spring/summer day.            1
   On tap into a snifter. Looks a dark brown with red highlights, khaki head and nice lacing. Great aroma, bourbon, chocolate, vanilla and toffee. Taste matched the aromas but came across as being to sweet, better suited as a dessert beer. I'm a fan of the original, but this is probably a one and done beer for me.                                                                                                                                                                                                                                                                                                                          1
   Draft at OMB. A light brown pour.  Layer of cream head.  A little different so far. Aroma,  light roast and chocolate.   Taste, toasted malt, a lot of nuttiness.  Some caramel and chocolate.  A little woodiness. Struggles to get much above light bodied.  Drinks very easy though. Even carbonation and no alcohol presence. A little puzzled by this one.  Just doesnt fit with the norms for the style. Worth a try on draft, at Olde Meck. I will say if a German was to make a Baltic Porter I bet it would be much like this. Looking forward to the next one more however...                                                           1
Name: text, Length: 2897963, dtype: int64


---- look ----
4.00    1715297
4.50     761253
3.50     675315
4.25     632137
3.75     556020
3.00     287523
5.00     211270
4.75     171020
3.25     112292
2.50      63684
2.00      40288
2.75      26450
1.50       9714
2.25       8430
1.00       7498
1.75       3319
1.25       1600
Name: look, dtype: int64


---- smell ----
4.00    1404549
3.50     784523
4.50     731599
4.25     652189
3.75     586989
3.00     340131
5.00     194129
4.75     179160
3.25     153232
2.50     100771
2.00      63560
2.75      40045
1.50      18330
1.00      13560
2.25      12336
1.75       5457
1.25       2550
Name: smell, dtype: int64


---- taste ----
4.00    1331969
4.50     853299
3.50     709595
4.25     682144
3.75     554833
3.00     291585
5.00     220820
4.75     212331
3.25     150945
2.50     103068
2.00      63884
2.75      43873
1.50      22609
1.00      19311
2.25      13482
1.75       6245
1.25       3117
Name: taste, dtype: int64


---- feel ----
4.00    1540880
3.50     749577
4.50     697844
4.25     623751
3.75     583744
3.00     348173
5.00     181624
4.75     161107
3.25     150760
2.50      96137
2.00      59189
2.75      39254
1.50      16895
1.00      13851
2.25      12406
1.75       5179
1.25       2739
Name: feel, dtype: int64


---- overall ----
4.00    1467309
4.50     798500
3.50     694298
4.25     685573
3.75     587593
3.00     284208
4.75     184775
5.00     184591
3.25     148031
2.50      91992
2.00      57341
2.75      40634
1.50      19225
1.00      17014
2.25      13468
1.75       5667
1.25       2891
Name: overall, dtype: int64


---- score ----
4.00    1026281
3.75     613578
4.25     607875
3.50     515366
4.50     504799
         ...
1.19        125
1.05        107
1.14        105
1.07         38
1.01         16
Name: score, Length: 401, dtype: int64

beer_id           0
username       3815
date              0
text              0
look        3790018
smell       3790018
taste       3790018
feel        3790018
overall     3790018
score             0
dtype: int64

Total Null Count: 18953905

In [19]:
# dropping irrelevant columns
reviews = reviews.drop(columns=['date','look','smell','taste','feel','overall'])

# dropping reviews without review data
reviews = reviews.dropna(subset=['username'])

In [20]:
# making everything looks right
reviews.head()

   beer_id  ... score
0   271781  ...  4.03
1   125646  ...  4.50
2   125646  ...  4.75
3   125646  ...  4.58
4   125646  ...  4.31

[5 rows x 4 columns]

---

## Combining Data

In [21]:
beer_reviews = beer.merge(reviews, on=['beer_id'])

In [22]:
eda(beer_reviews)

   beer_id                beer_name  ...                           text score
0   214879           Scottish Right  ...                                 2.50
1   320009  MegaMeow Imperial Stout  ...                                 4.00
2   246438          Peaches-N-Cream  ...     Exactly what it says it is  3.67
3   108605              Icon Sender  ...                                 3.75
4   108605              Icon Sender  ...                                 3.75

[5 rows x 11 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7936808 entries, 0 to 7936807
Data columns (total 11 columns):
 #   Column        Dtype
---  ------        -----
 0   beer_id       int64
 1   beer_name     object
 2   brewery_id    int64
 3   state         object
 4   style         object
 5   availability  object
 6   abv           float64
 7   retired       object
 8   username      object
 9   text          object
 10  score         float64
dtypes: float64(2), int64(2), object(7)
memory usage: 726.6+ MB

None

            beer_id    brewery_id           abv         score
count  7.936808e+06  7.936808e+06  7.775221e+06  7.936808e+06
mean   8.270000e+04  1.091891e+04  7.422089e+00  3.909407e+00
std    7.989168e+04  1.368796e+04  2.471093e+00  5.951969e-01
min    3.000000e+00  2.000000e+00  1.000000e-02  1.000000e+00
25%    1.996000e+04  1.930000e+02  5.500000e+00  3.620000e+00
50%    6.298400e+04  1.337000e+03  7.000000e+00  4.000000e+00
75%    1.138580e+05  2.292800e+04  8.900000e+00  4.250000e+00
max    3.731280e+05  5.408000e+04  1.000000e+02  5.000000e+00

---- beer_id ----
11757     17137
2093      15926
7971      14909
1093      14896
29619     14285
          ...
227086        1
231184        1
239380        1
141092        1
182179        1
Name: beer_id, Length: 259803, dtype: int64


---- beer_name ----
IPA                                   30640
Porter                                19024
Breakfast Stout                       17552
Imperial Stout                        17129
Pale Ale                              16293
                                      ...
Hatchery: Strawberry Milkshake IPA        1
Radlier                                   1
Cranberry Peak Ale                        1
Gronk                                     1
Dewey's Porter                            1
Name: beer_name, Length: 218678, dtype: int64


---- brewery_id ----
140      175085
147      173216
1199     156665
35       152576
64       152227
          ...
31295         1
50335         1
44502         1
51764         1
39365         1
Name: brewery_id, Length: 9503, dtype: int64


---- state ----
CA     1468142
CO      512926
MI      509092
NY      495758
MA      459147
        ...
GB5        802
YT         801
PE         648
NL         368
NT           1
Name: state, Length: 67, dtype: int64


---- style ----
American IPA               1042899
American Imperial IPA       751331
American Imperial Stout     548026
American Pale Ale (APA)     408729
Belgian Saison              294561
                            ...
Russian Kvass                  514
American Brut IPA              430
Belgian Faro                    54
Wild/Sour Beers                  4
Japanese Happoshu                2
Name: style, Length: 112, dtype: int64


---- availability ----
Year-round               2871353
Rotating                 2694104
Limited (brewed once)    1051246
Winter                    479610
Fall                      392725
Summer                    229547
Spring                    218223
Name: availability, dtype: int64


---- abv ----
7.00     377275
5.00     350696
6.00     338845
8.00     328311
5.50     274988
          ...
17.35         1
7.96          1
9.88          1
8.36          1
11.71         1
Name: abv, Length: 860, dtype: int64


---- retired ----
f    6362497
t    1574311
Name: retired, dtype: int64


---- username ----
Sammy            12104
acurtis          11168
jaydoc           10836
kylehay2004      10819
StonedTrippin    10442
                 ...
jamesddelaney        1
jglenellen           1
Mryan145             1
rawoods              1
BeermanLIc           1
Name: username, Length: 155103, dtype: int64


---- text ----
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            5436953
   0%                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         69934
   On tap at the brewery                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         94
   Sampled from bottle                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           89
   On tap at brewery.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            82
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...
   Big pillowy, creamy head sits atop a dark ruby body. Lots of lacing. Pretty stuff. Lots of piney hops on the nose with some bready malts and candy sweetness. Malty and sweet up front with bread, caramel, and toffee. A little fruity with dark friuts mid-palate and a big earthy,piney, bitter finish which has nice length. Creamy, heavy side of medium, and smooth. There is some alcohol heat in the end, and it's near 8%, but all things considered quite drinkable. I am pleasantly surprised by this very good strong ale/winter warmer. Will definitely seek this out next year.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
   Thanks to miketd for this nice beer Pours a clear copper with a fluffy beige head. Smells spiced, and similar to those in a pumpkin beer. I'm not able to pick out cinnamon or ginger specifically, but it is nice. Taste is much of the same spiced flavors. Some nutmeg as well, I believe. Some slight alcohol present, or perhaps its the tartness I'm sensing. Very nice seasonal that I enjoyed more as it warmed.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
   On tap at Beer House in Lombard, IL. A: Arrived in a pint glass as a deep clear brown with vaguely reddish highlights, with a relatively thick head that dissipated rather quickly. No notes on lacing, because I didn't get more than three sips in. S: The nose opened with some sweet malt underscored by dark chocolate...and then a barrage of floral hops. This was disappointing on several levels, mostly because every bit of the description for this beer stated "mild hop presence" and "balancing hops", while discussing for several sentences the seven types of malt involved. Even the bartender had advised me that he personally found this to be deliciously malty and chocolatey. Filled with trepidation and apprehension from the perfumed bouquet, I sipped... T: Pure floral perfume. Nothing but pure floral perfume. No malt got past that to my palate at all, on any of the three sips I took. If you are a malthead averse to beers with enough floral-pine hops to break into the foreground, this is not a beer for you. M: To be honest, I couldn't particularly tell, on any of the sips. I was too distracted by the hop presence. O: Not a brown ale I shall repeat. It may very well have the advertised wonderful malt complexity with chocolate notes, but for those of us who are not fans of a "mild hop presence" that seems more on the heavy side of moderate at the very least, it simply isn't there.            1
   Got talked into buying this at a bottle shop in Ludlow Vermont. Salesman compared it to Heady Topper. Not sure about that comparison but it is a very very tasty and good beer that I would drink as often as I could find it.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
   Draft at OMB. A light brown pour.  Layer of cream head.  A little different so far. Aroma,  light roast and chocolate.   Taste, toasted malt, a lot of nuttiness.  Some caramel and chocolate.  A little woodiness. Struggles to get much above light bodied.  Drinks very easy though. Even carbonation and no alcohol presence. A little puzzled by this one.  Just doesnt fit with the norms for the style. Worth a try on draft, at Olde Meck. I will say if a German was to make a Baltic Porter I bet it would be much like this. Looking forward to the next one more however...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Name: text, Length: 2422128, dtype: int64


---- score ----
4.00    918863
3.75    553806
4.25    547271
3.50    455929
4.50    448693
         ...
1.19        90
1.14        90
1.05        83
1.07        30
1.01        14
Name: score, Length: 401, dtype: int64

beer_id              0
beer_name            0
brewery_id           0
state                0
style                2
availability         0
abv             161587
retired              0
username             0
text                 0
score                0
dtype: int64

Total Null Count: 161589

In [23]:
plus_brew = beer_reviews.merge(breweries, on=['brewery_id'])

In [24]:
eda(plus_brew)

   beer_id  ...                             types
0   214879  ...  Brewery, Bar, Eatery, Beer-to-go
1   356585  ...  Brewery, Bar, Eatery, Beer-to-go
2   284962  ...  Brewery, Bar, Eatery, Beer-to-go
3   356572  ...  Brewery, Bar, Eatery, Beer-to-go
4   278791  ...  Brewery, Bar, Eatery, Beer-to-go

[5 rows x 16 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7936808 entries, 0 to 7936807
Data columns (total 16 columns):
 #   Column        Dtype
---  ------        -----
 0   beer_id       int64
 1   beer_name     object
 2   brewery_id    int64
 3   state_x       object
 4   style         object
 5   availability  object
 6   abv           float64
 7   retired       object
 8   username      object
 9   text          object
 10  score         float64
 11  brewery_name  object
 12  city          object
 13  state_y       object
 14  country       object
 15  types         object
dtypes: float64(2), int64(2), object(12)
memory usage: 1.0+ GB

None

            beer_id    brewery_id           abv         score
count  7.936808e+06  7.936808e+06  7.775221e+06  7.936808e+06
mean   8.270000e+04  1.091891e+04  7.422089e+00  3.909407e+00
std    7.989168e+04  1.368796e+04  2.471093e+00  5.951969e-01
min    3.000000e+00  2.000000e+00  1.000000e-02  1.000000e+00
25%    1.996000e+04  1.930000e+02  5.500000e+00  3.620000e+00
50%    6.298400e+04  1.337000e+03  7.000000e+00  4.000000e+00
75%    1.138580e+05  2.292800e+04  8.900000e+00  4.250000e+00
max    3.731280e+05  5.408000e+04  1.000000e+02  5.000000e+00

---- beer_id ----
11757     17137
2093      15926
7971      14909
1093      14896
29619     14285
          ...
227086        1
231184        1
239380        1
141092        1
182179        1
Name: beer_id, Length: 259803, dtype: int64


---- beer_name ----
IPA                         30640
Porter                      19024
Breakfast Stout             17552
Imperial Stout              17129
Pale Ale                    16293
                            ...
Maggie Claus                    1
Fuzzy Nectar                    1
Broken Tail - Dry-Hopped        1
Bravo, Warrior!                 1
Dewey's Porter                  1
Name: beer_name, Length: 218678, dtype: int64


---- brewery_id ----
140      175085
147      173216
1199     156665
35       152576
64       152227
          ...
31295         1
50335         1
44502         1
51764         1
39365         1
Name: brewery_id, Length: 9503, dtype: int64


---- state_x ----
CA     1468142
CO      512926
MI      509092
NY      495758
MA      459147
        ...
GB5        802
YT         801
PE         648
NL         368
NT           1
Name: state_x, Length: 67, dtype: int64


---- style ----
American IPA               1042899
American Imperial IPA       751331
American Imperial Stout     548026
American Pale Ale (APA)     408729
Belgian Saison              294561
                            ...
Russian Kvass                  514
American Brut IPA              430
Belgian Faro                    54
Wild/Sour Beers                  4
Japanese Happoshu                2
Name: style, Length: 112, dtype: int64


---- availability ----
Year-round               2871353
Rotating                 2694104
Limited (brewed once)    1051246
Winter                    479610
Fall                      392725
Summer                    229547
Spring                    218223
Name: availability, dtype: int64


---- abv ----
7.00     377275
5.00     350696
6.00     338845
8.00     328311
5.50     274988
          ...
17.35         1
7.96          1
9.88          1
8.36          1
11.71         1
Name: abv, Length: 860, dtype: int64


---- retired ----
f    6362497
t    1574311
Name: retired, dtype: int64


---- username ----
Sammy            12104
acurtis          11168
jaydoc           10836
kylehay2004      10819
StonedTrippin    10442
                 ...
Thatdamngood1        1
Siwa154              1
kmadaus              1
zms101               1
BeermanLIc           1
Name: username, Length: 155103, dtype: int64


---- text ----
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            5436953
   0%                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         69934
   On tap at the brewery                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         94
   Sampled from bottle                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           89
   On tap at brewery.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            82
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...
   Poured a see thru light gold body with large head that stuck around. Aroma is basically grainy and grassy. Smooth, light body with some pils-like sweetness and grassy hop notes. Clean, easy to drink, finishes w/ typical lager dryness and is enjoyable for style.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
   Single 12 oz can from "Lifesource" S.Salem. $1.79 Strange pic.. Clear golden beer with a large rocky,frothy off white head Surprised by the pleasant and strongish hoppy aroma, grapefruit and mellow pine.Slight caramel from the malts. Taste has the same hoppiness..mellow pine and pink grapefuit, the thin bready/caramel malts hold it together somewhat. Intresting on the palate..its totally light but oddly smooth..i guess a good combo for a session ale. Good simple drinkable ale..at a nice low alc %                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
   They put this back on the shelf in about late 2007. I started buying it because I wasn't sure how long it would stick around. Now that it's been 3 years it seems so standard. It is better tasting than Pabst who also makes this beer. Not that bad warm. Pretty tasteless cold. I pick up 18 packs every now and then for $11.47. Since Pabst makes this it's usually the same price as Pabst but sometimes it's a dollar more. It's okay. Once you get over the regional love it's kind of boring. I like beer in cans and cheap beer though and there are only so many at my local Wal Mart or Winco where I generally do my grocery shopping. I'm sure it looks yellow in a glass. I always drink out of the can though. Smell is oretty light, mouthfeel is watery. Drinkability is alright. C-... cheap but ok There's a video on YouTube of Kurt and Krist of Nirvana in Aberdeen buying this beer and the rest of the video is them practicing at Krist's mom's house which is kind of cool and special. One time I was buying some of this late on a Friday night and an older dude like mid-30's saw me buying it and said he didn't know they made it anymore. He said he used to buy Lucky Lager which was the cheapest beer when he was younger. I wish I could try Lucky. They used to make it here in Vancouver, Washington according to Wikipedia. :( I don't know of any other beers being made in my town ever.            1
   I was a little disappointed by this one. I've heard great things about Comrade, and it's close enough that I need to get over to the taproom, but I had this one elsewhere and it wasn't quite as good as I hoped. Maybe they just do other beers better, I don't know. I'll certainly find out though.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
   Draft at OMB. A light brown pour.  Layer of cream head.  A little different so far. Aroma,  light roast and chocolate.   Taste, toasted malt, a lot of nuttiness.  Some caramel and chocolate.  A little woodiness. Struggles to get much above light bodied.  Drinks very easy though. Even carbonation and no alcohol presence. A little puzzled by this one.  Just doesnt fit with the norms for the style. Worth a try on draft, at Olde Meck. I will say if a German was to make a Baltic Porter I bet it would be much like this. Looking forward to the next one more however...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Name: text, Length: 2422128, dtype: int64


---- score ----
4.00    918863
3.75    553806
4.25    547271
3.50    455929
4.50    448693
         ...
1.19        90
1.14        90
1.05        83
1.07        30
1.01        14
Name: score, Length: 401, dtype: int64


---- brewery_name ----
Sierra Nevada Brewing Co.             175085
Stone Brewing                         173216
Founders Brewing Company              156665
Boston Beer Company (Samuel Adams)    152576
Dogfish Head Craft Brewery            152227
                                       ...
Cozzi & Boffa Wines                        1
Swan On The Green, The                     1
AleCraft Brewery                           1
Splash Brew Co.                            1
Firetower Farm Brewery                     1
Name: brewery_name, Length: 9334, dtype: int64


---- city ----
Chicago             228948
Escondido           203750
San Diego           197029
Chico               175086
Brooklyn            171255
                     ...
Lytham St. Annes         1
Elkader                  1
Alabaster                1
Nantwich                 1
Millerton                1
Name: city, Length: 3567, dtype: int64


---- state_y ----
CA     1468142
CO      512926
MI      509092
NY      495758
MA      459147
        ...
GB5        802
YT         801
PE         648
NL         368
NT           1
Name: state_y, Length: 67, dtype: int64


---- country ----
US    7485587
CA     239102
GB     212119
Name: country, dtype: int64


---- types ----
Brewery, Bar, Beer-to-go                      2383722
Brewery, Bar, Eatery, Beer-to-go              2279956
Brewery                                       1087688
Brewery, Bar, Eatery                           876577
Brewery, Bar                                   694355
Brewery, Beer-to-go                            499124
Brewery, Bar, Eatery, Homebrew, Beer-to-go      43947
Brewery, Eatery                                 23849
Brewery, Eatery, Beer-to-go                     19332
Brewery, Bar, Homebrew, Beer-to-go              17635
Brewery, Homebrew                                6763

beer_id              0
beer_name            0
brewery_id           0
state_x              0
style                2
availability         0
abv             161587
retired              0
username             0
text                 0
score                0
brewery_name         0
city                 0
state_y              0
country              0
types                0
dtype: int64

Total Null Count: 161589

In [25]:
# dropping duplicate column
plus_brew = plus_brew.drop(columns=['state_x'])

# renaming column to reflect
plus_brew = plus_brew.rename(columns={'state_y': 'state'})

In [26]:
# selecting only US beers
df = plus_brew.loc[(plus_brew['state'] == 'WA') & (plus_brew['retired'] == 'f')]

In [27]:
df = df.drop_duplicates()

In [28]:
# selecting only currently available beers
# df = plus_brew.loc[plus_brew['retired'] == 'f']

In [29]:
eda(df)

    beer_id                beer_name  brewery_id  ... state country    types
44   320009  MegaMeow Imperial Stout        4378  ...    WA      US  Brewery
45   262748              Sparklepuss        4378  ...    WA      US  Brewery
46   262748              Sparklepuss        4378  ...    WA      US  Brewery
47   298624    Boots, Berry & Murray        4378  ...    WA      US  Brewery
48   298624    Boots, Berry & Murray        4378  ...    WA      US  Brewery

[5 rows x 15 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81006 entries, 44 to 7936805
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   beer_id       81006 non-null  int64
 1   beer_name     81006 non-null  object
 2   brewery_id    81006 non-null  int64
 3   style         81006 non-null  object
 4   availability  81006 non-null  object
 5   abv           78408 non-null  float64
 6   retired       81006 non-null  object
 7   username      81006 non-null  object
 8   text          81006 non-null  object
 9   score         81006 non-null  float64
 10  brewery_name  81006 non-null  object
 11  city          81006 non-null  object
 12  state         81006 non-null  object
 13  country       81006 non-null  object
 14  types         81006 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 9.9+ MB

None

             beer_id    brewery_id           abv         score
count   81006.000000  81006.000000  78408.000000  81006.000000
mean    88666.820433  12442.177320      7.178454      3.813942
std     85705.067718  13724.965852      2.182743      0.529421
min       946.000000    351.000000      0.050000      1.000000
25%     18443.000000    700.000000      5.700000      3.500000
50%     65499.000000   1586.000000      6.700000      3.850000
75%    124768.000000  20680.000000      8.100000      4.150000
max    372954.000000  53727.000000     16.800000      5.000000

---- beer_id ----
84045     2641
7077      1354
2018      1319
55401     1227
25649     1109
          ...
168393       1
208275       1
340413       1
329110       1
293271       1
Name: beer_id, Length: 6256, dtype: int64


---- beer_name ----
Space Dust IPA                            2641
Night Owl Pumpkin Ale                     1354
The Immortal IPA                          1319
B-Bomb (Bourbon Abominable Winter Ale)    1227
Pyramid Apricot Ale                       1109
                                          ...
The Landscape                                1
Brett Lab No. 12                             1
Tom Flanders Flanders Red                    1
Nillasicle                                   1
Chai Jones (Nitro)                           1
Name: beer_name, Length: 5780, dtype: int64


---- brewery_id ----
700      15199
20680     8930
403       5259
365       3745
684       2823
         ...
49533        1
1061         1
50892        1
53565        1
45302        1
Name: brewery_id, Length: 334, dtype: int64


---- style ----
American IPA                    17646
American Imperial IPA            8557
American Pale Ale (APA)          6859
Winter Warmer                    3742
Pumpkin Beer                     3577
                                ...
Belgian Fruit Lambic                5
European Export / Dortmunder        4
Japanese Rice Lager                 4
Belgian Lambic                      1
Low Alcohol Beer                    1
Name: style, Length: 104, dtype: int64


---- availability ----
Year-round               31091
Rotating                 30241
Fall                      7491
Winter                    6294
Summer                    4094
Spring                    1038
Limited (brewed once)      757
Name: availability, dtype: int64


---- abv ----
7.00     4547
6.00     4310
6.50     3885
8.20     3134
6.30     2838
         ...
5.68        1
16.80       1
5.55        1
4.15        1
9.98        1
Name: abv, Length: 163, dtype: int64


---- retired ----
f    81006
Name: retired, dtype: int64


---- username ----
Donkster46        1280
NickThePyro       1234
Sound_Explorer    1068
beertunes          950
rab53              876
                  ...
GT1                  1
grabtindy            1
Hultkrantz           1
mawcs                1
SamF87               1
Name: username, Length: 12910, dtype: int64


---- text ----
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           52184
   0%                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        589
   On tap at the brewery                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       6
   SAVOR DC 2018                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               4
   Tried on tap at Hellbent Brewery Lake City Way Seattle, WA.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 4
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ...
   On tap at The Elk. It's an acquired taste. Not really my thing. From the brewer: An exciting new take on our popular Wonderland Trail IPA. Partially fermented with lactobacillus in the kettle for three days, then boiled, aromas of tropical fruit give way to a slightly sour flavor with a solid ipa backbone. The Wonderland's hoppy bitterness helps round out the sourness for a deliciously tart, yet refreshing brew.                                                                                                                                                                                                                                                                                                                             1
   I heard they changed the recipe on this one. I don't remember trying this in the bottle before but now there are cans out there and it's worth picking up if you see it. It's not as hop forward as some other NW IPAs and the malt isn't assertive either but it really comes together nicely for a thirst quenching brew.                                                                                                                                                                                                                                                                                                                                                                                                                                 1
   I had this beer on-tap in a pint glass at the brewery. Appearance: nice orange hue with a moderate haze and a thin layer of ivory foam. Just what it ought to be. Smell: bright, citrusy and fruity. On the sweet side and very good indeed! Taste: like the aroma, this is just what I'm looking for in a Citra IPA. Bright, fruity and with an almost candy sweetness. Woot! Mouthfeel: medium body with a very smooth carbonation and good creaminess. Overall: I really dig this beer. I will look forward to drinking it again!                                                                                                                                                                                                                        1
   Served in straight pint glass at the Green Frog Cafe in Bellingham, WA. Poured a gorgeous deep ruby color with a hint of brown tint on the edges. Slightly more than an inch of creamy light tan head had decent retention and left light to moderate lacing. Nice roasty aromas reach the nose first, followed by a sweet scent that leads to a slight hop tang on the end. The flavors follow along closely without the expected sweetness and more of a hop presence. A nicely well-rounded body coats the tongue, letting the flavors linger a bit. A deceptively drinkable beer, care must be used because of the strength (8+%, I'm guessing but I don't know for sure). A very nice beer that is worth searching for if you're in the area.          1
   12 Oz bottle. No Bottling info Pours a cloudy pale yellow body with a smallish white head. Minimal retention. Some thin lacing. Wow, Very prominent smell ! Floral with a lot of citrus. Taste follows the smell to some extent, but it's much more dialed down.There is a very slight hint of sweet malt along with the orange/lemon peel bitterness Thin feel has lots of carbonation There is much to like about this brew. But that said, the excessive use of dry-hopping to produce the very prominent scent didn't translate to a correspondingly great taste.. My overall 3.75 grade was almost a 3.5                                                                                                                                               1
Name: text, Length: 28194, dtype: int64


---- score ----
4.00    8705
3.75    6551
3.50    5681
4.25    3868
4.50    2664
        ...
1.27       1
1.14       1
1.16       1
1.46       1
1.49       1
Name: score, Length: 381, dtype: int64


---- brewery_name ----
Elysian Brewing Company                    15199
Fremont Brewing Company                     8930
Pyramid Breweries, Inc.                     5259
Pike Brewing Company                        3745
Fish Brewing Company / Fishbowl Brewpub     2823
                                           ...
Ogres Brewing                                  1
Five Dons' Brewing                             1
O-Town Brewing                                 1
BJ's Restaurant                                1
Top Frog Brewery                               1
Name: brewery_name, Length: 332, dtype: int64


---- city ----
Seattle       46289
Olympia        3754
Redmond        2784
Bellingham     2753
Everett        1936
              ...
Duvall            1
Clinton           1
Yelm              1
Cowiche           1
Chewelah          1
Name: city, Length: 114, dtype: int64


---- state ----
WA    81006
Name: state, dtype: int64


---- country ----
US    81006
Name: country, dtype: int64


---- types ----
Brewery, Bar, Eatery                          29017
Brewery, Bar, Eatery, Beer-to-go              22438
Brewery, Bar, Beer-to-go                      12520
Brewery                                       10802
Brewery, Bar                                   2987
Brewery, Eatery                                2379
Brewery, Beer-to-go                             420
Brewery, Bar, Eatery, Homebrew, Beer-to-go      224
Brewery, Eatery, Beer-to-go                     192
Brewery, Bar, Eatery, Homebrew                   11
Brewery, Bar, Homebrew, Beer-to-go                7
Bar, Eatery                                       6
Brewery, Bar, Homebrew                            3
Name: types, dtype: int64

beer_id            0
beer_name          0
brewery_id         0
style              0
availability       0
abv             2598
retired            0
username           0
text               0
score              0
brewery_name       0
city               0
state              0
country            0
types              0
dtype: int64

Total Null Count: 2598

In [30]:
# checking to see if some of these beers are actually named IPA and looking at each brewery's website I can confirm they are not creative people
df.loc[df['beer_name'] == 'IPA']

         beer_id beer_name  ...  country                             types
3534559   118068       IPA  ...       US                      Brewery, Bar
3534560   118068       IPA  ...       US                      Brewery, Bar
3973407    96659       IPA  ...       US  Brewery, Bar, Eatery, Beer-to-go
3973408    96659       IPA  ...       US  Brewery, Bar, Eatery, Beer-to-go
3973409    96659       IPA  ...       US  Brewery, Bar, Eatery, Beer-to-go
...          ...       ...  ...      ...                               ...
7867428   146784       IPA  ...       US          Brewery, Bar, Beer-to-go
7867429   146784       IPA  ...       US          Brewery, Bar, Beer-to-go
7867430   146784       IPA  ...       US          Brewery, Bar, Beer-to-go
7924089    60421       IPA  ...       US  Brewery, Bar, Eatery, Beer-to-go
7924090    60421       IPA  ...       US  Brewery, Bar, Eatery, Beer-to-go

[174 rows x 15 columns]

In [31]:
# dropping rows with missing ibu data 
df = df.dropna(subset=['abv'])

In [32]:
df.head()

    beer_id                beer_name  brewery_id  ... state country    types
44   320009  MegaMeow Imperial Stout        4378  ...    WA      US  Brewery
45   262748              Sparklepuss        4378  ...    WA      US  Brewery
46   262748              Sparklepuss        4378  ...    WA      US  Brewery
47   298624    Boots, Berry & Murray        4378  ...    WA      US  Brewery
48   298624    Boots, Berry & Murray        4378  ...    WA      US  Brewery

[5 rows x 15 columns]

In [33]:
df['beer_id'].nunique()

5494

In [34]:
grouped = df.groupby(['beer_id'], as_index = False).agg({'text': ' '.join})

In [35]:
eda(grouped)

   beer_id                                               text
0      948              Darkly rich and grainy black brew....
1      949                       Rich clear amber pour wit...
2      950        0%                One of the worst beers...
3      951     On tap at Bitterroot, Seattle. Hazy bronze ...
4      952        Pint at Cutters in downtown Seattle. A s...

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5494 entries, 0 to 5493
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   beer_id  5494 non-null   int64
 1   text     5494 non-null   object
dtypes: int64(1), object(1)
memory usage: 128.8+ KB

None

             beer_id
count    5494.000000
mean   209586.767019
std    101739.793056
min       948.000000
25%    126191.250000
50%    216201.500000
75%    298675.500000
max    372954.000000

---- beer_id ----
233470    1
267185    1
156325    1
283303    1
191144    1
         ..
252653    1
300376    1
9562      1
295122    1
122880    1
Name: beer_id, Length: 5494, dtype: int64


---- text ----
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1537
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        484
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        174
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         79
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         36

beer_id    0
text       0
dtype: int64

Total Null Count: 0

In [36]:
#grouped.to_csv("beerdata.csv", index=False)

In [37]:
df = df.dropna(subset=['text'])

In [38]:
#df.to_csv('fulldf.csv', index=False)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78408 entries, 44 to 7936805
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   beer_id       78408 non-null  int64
 1   beer_name     78408 non-null  object
 2   brewery_id    78408 non-null  int64
 3   style         78408 non-null  object
 4   availability  78408 non-null  object
 5   abv           78408 non-null  float64
 6   retired       78408 non-null  object
 7   username      78408 non-null  object
 8   text          78408 non-null  object
 9   score         78408 non-null  float64
 10  brewery_name  78408 non-null  object
 11  city          78408 non-null  object
 12  state         78408 non-null  object
 13  country       78408 non-null  object
 14  types         78408 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 9.6+ MB

In [40]:
df.isna().sum().sum()

0

In [41]:
cleandf = df.copy()

In [42]:
cleandf['clean_text'] = hero.clean(cleandf['text'])

In [43]:
cleandf.head()

    beer_id  ...                                         clean_text
44   320009  ...
45   262748  ...  georgetown brewing email protected seattle wa ...
46   262748  ...
47   298624  ...  glass tap georgetown brewing email protected s...
48   298624  ...

[5 rows x 16 columns]

In [44]:
cleandf['clean_text'] = hero.stem(cleandf['clean_text'])

In [45]:
cleandf.head()

    beer_id  ...                                         clean_text
44   320009  ...
45   262748  ...  georgetown brew email protect seattl wa sight ...
46   262748  ...
47   298624  ...  glass tap georgetown brew email protect seattl...
48   298624  ...

[5 rows x 16 columns]

In [46]:
cleandf['tfidf'] = hero.tfidf(cleandf['clean_text'], max_features = 200)

In [47]:
cleandf.head()

    beer_id  ...                                              tfidf
44   320009  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
45   262748  ...  [0.0, 0.23632224698134519, 0.0, 0.0, 0.0, 0.0,...
46   262748  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
47   298624  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1978775505554...
48   298624  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[5 rows x 17 columns]

In [48]:
features = hero.tfidf(cleandf['clean_text'], max_features = 200, return_feature_names = True)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning:

Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.

In [49]:
features

(44         [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 45         [0.0, 0.23632224698134519, 0.0, 0.0, 0.0, 0.0,...
 46         [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 47         [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1978775505554...
 48         [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                  ...
 7936651    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 7936721    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 7936778    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 7936804    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 7936805    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
 Length: 78408, dtype: object,
 ['abv',
  'aftertast',
  'alcohol',
  'ale',
  'almost',
  'also',
  'amber',
  'amount',
  'appear',
  'apricot',
  'aroma',
  'around',
  'averag',
  'back',
  'bad',
  'balanc',
  'beer',
  'best',
  'better',
  'big',
  'bit',
  'bitter',
  'black',
  'bodi',
  'bomber',
  'bottl',
  'breadi',
  'brew',
  'breweri',
  'brown',
  'bubbl',
  'caramel',
  'carbon',
  'charact',
  'chocol',
  'cinnamon',
  'citrus',
  'clean',
  'clear',
  'cloudi',
  'coffe',
  'color',
  'come',
  'complex',
  'copper',
  'could',
  'creami',
  'crisp',
  'dark',
  'decent',
  'deep',
  'definit',
  'domin',
  'dri',
  'drink',
  'drinkabl',
  'earthi',
  'easi',
  'end',
  'enjoy',
  'enough',
  'even',
  'expect',
  'fair',
  'feel',
  'finger',
  'finish',
  'first',
  'flavor',
  'floral',
  'foam',
  'follow',
  'fresh',
  'front',
  'fruit',
  'fruiti',
  'full',
  'get',
  'give',
  'glass',
  'go',
  'gold',
  'golden',
  'good',
  'grain',
  'grapefruit',
  'grassi',
  'great',
  'hazi',
  'head',
  'heavi',
  'herbal',
  'high',
  'hint',
  'hop',
  'hoppi',
  'interest',
  'ipa',
  'lace',
  'last',
  'leav',
  'lemon',
  'light',
  'like',
  'linger',
  'littl',
  'long',
  'look',
  'lot',
  'love',
  'low',
  'make',
  'malt',
  'malti',
  'mayb',
  'medium',
  'mild',
  'moder',
  'mouth',
  'mouthfeel',
  'much',
  'nice',
  'nose',
  'note',
  'noth',
  'one',
  'orang',
  'overal',
  'oz',
  'palat',
  'pale',
  'pine',
  'piney',
  'pint',
  'pleasant',
  'pour',
  'pretti',
  'profil',
  'pumpkin',
  'quick',
  'quit',
  'rather',
  'realli',
  'red',
  'refresh',
  'retent',
  'rich',
  'right',
  'roast',
  'say',
  'see',
  'seem',
  'serv',
  'side',
  'slight',
  'small',
  'smell',
  'smooth',
  'solid',
  'someth',
  'somewhat',
  'sour',
  'spice',
  'spici',
  'start',
  'sticki',
  'still',
  'stout',
  'strong',
  'style',
  'sugar',
  'sure',
  'sweet',
  'tan',
  'tap',
  'tast',
  'tasti',
  'thick',
  'thin',
  'thing',
  'think',
  'though',
  'time',
  'toast',
  'tongu',
  'top',
  'touch',
  'tri',
  'tropic',
  'two',
  'vanilla',
  'warm',
  'way',
  'well',
  'wheat',
  'white',
  'worth',
  'would',
  'yeast',
  'yellow'])

##Modeling

### Collaborative Filtering

In [50]:
reader = Reader(rating_scale =(1, 5) ) 
colab_df = Dataset.load_from_df(cleandf[['username', 'beer_id', 'score']], reader)

In [103]:
codf = cleandf[['username', 'beer_id', 'score']]

In [52]:
#Train test split with test size of 20% 
trainset, testset = train_test_split(colab_df, test_size=0.2)

In [55]:
print(len(testset))
print(testset[0])

15682
('vfgccp', 85085, 3.73)

In [56]:
print('Number of users: ', trainset.n_users, '\n')
print('Number of items: ', trainset.n_items, '\n')

Number of users:  11593

Number of items:  4999

In [57]:
sim_cos = {'name':'cosine', 'user_based':False}

In [58]:
basic = knns.KNNBasic(sim_options=sim_cos)
basic.fit(trainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [59]:
predictions = basic.test(testset)

In [60]:
print(accuracy.rmse(predictions))

RMSE: 0.5036
0.5036011158320134

In [61]:
sim_pearson = {'name':'pearson', 'user_based':False}
basic_pearson = knns.KNNBasic(sim_options=sim_pearson)
basic_pearson.fit(trainset)
predictions = basic_pearson.test(testset)
print(accuracy.rmse(predictions))

Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 0.5061
0.5061399770180597

In [62]:
sim_pearson = {'name':'pearson', 'user_based':False}
knn_baseline = knns.KNNBaseline(sim_options=sim_pearson)
knn_baseline.fit(trainset)
predictions = knn_baseline.test(testset)
print(accuracy.rmse(predictions))

Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
RMSE: 0.4332
0.43321921404330566

In [74]:
svd = SVD(n_factors=100, n_epochs=10, lr_all=0.005, reg_all=0.4)
svd.fit(trainset)
predictions = svd.test(testset)
print(accuracy.rmse(predictions))

RMSE: 0.4287
0.42866398888771334

In [75]:
user_34_prediction = svd.predict('34', '25')
user_34_prediction

Prediction(uid='34', iid='25', r_ui=None, est=3.820096451232344, details={'was_impossible': False})

In [76]:
user_34_prediction[3]

3.820096451232344

In [77]:
params = {'n_factors': [20, 50, 100],
         'reg_all': [0.02, 0.05, 0.1]}
g_s_svd = GridSearchCV(SVD,param_grid=params,n_jobs=-1)
g_s_svd.fit(colab_df)

In [78]:
print(g_s_svd.best_score)
print(g_s_svd.best_params)

{'rmse': 0.41191129339583055, 'mae': 0.29094365241660436}
{'rmse': {'n_factors': 20, 'reg_all': 0.05}, 'mae': {'n_factors': 20, 'reg_all': 0.05}}

In [82]:
# cross validating with KNNBasic
knn_basic = KNNBasic(sim_options={'name':'pearson', 'user_based':True})
cv_knn_basic = cross_validate(knn_basic, colab_df)

Computing the pearson similarity matrix...

/usr/local/lib/python3.7/dist-packages/surprise/prediction_algorithms/algo_base.py:249: RuntimeWarning:

invalid value encountered in sqrt

Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.

In [83]:
for i in cv_knn_basic.items():
    print(i)
print('-----------------------')
print(np.mean(cv_knn_basic['test_rmse']))

('test_rmse', array([0.46835315, 0.47364874, 0.46207167, 0.46774276, 0.47035057]))
('test_mae', array([0.33381937, 0.33865308, 0.33371864, 0.33519796, 0.33716137]))
('fit_time', (23.136934995651245, 21.237473964691162, 21.044249534606934, 21.64932131767273, 21.070987701416016))
('test_time', (4.07350754737854, 4.052576303482056, 4.113367319107056, 3.965907335281372, 4.088876247406006))
-----------------------
0.4684333763475137

In [84]:
# cross validating with KNNBaseline
knn_baseline = KNNBaseline(sim_options={'name':'pearson', 'user_based':True})
cv_knn_baseline = cross_validate(knn_baseline,colab_df)

Estimating biases using als...
Computing the pearson similarity matrix...

/usr/local/lib/python3.7/dist-packages/surprise/prediction_algorithms/algo_base.py:249: RuntimeWarning:

invalid value encountered in sqrt

Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.

In [85]:
for i in cv_knn_baseline.items():
    print(i)

np.mean(cv_knn_baseline['test_rmse'])

('test_rmse', array([0.42239053, 0.41245731, 0.43130728, 0.42252806, 0.42077982]))
('test_mae', array([0.29766869, 0.29426188, 0.30373699, 0.29835208, 0.29745451]))
('fit_time', (22.353923559188843, 21.239930152893066, 22.045680284500122, 21.212291717529297, 21.29622197151184))
('test_time', (4.3296520709991455, 4.277353048324585, 5.209131240844727, 4.1706459522247314, 4.243609189987183))

0.42189259985454264

In [107]:
def beer_rater(df,num, style=None):
    userID = 1000
    rating_list = []
    while num > 0:
        if style:
            beer = df[df['style'].str.contains(style)].sample(1)
        else:
            beer = df.sample(1)
        print(beer)
        rating = input('How do you rate this beer on a scale of 1-5, press n if you have not had :\n')
        if rating == 'n':
            continue
        else:
            rating_one_beer = {'username':userID,'beer_id':beer['beer_id'].values[0],'score':rating}
            rating_list.append(rating_one_beer) 
            num -= 1
    return rating_list

In [108]:
simpledf = df[['beer_name','style','username','score','beer_id','brewery_name']]

In [109]:
user_rating = beer_rater(simpledf, 4, 'Stout')

                   beer_name           style  ... beer_id           brewery_name
3794049  Jive Espresso Stout  American Stout  ...   48071  Two Beers Brewing Co.

[1 rows x 6 columns]
How do you rate this beer on a scale of 1-5, press n if you have not had :
5
                                             beer_name  ...             brewery_name
1335469  Bourbon Barrel Aged Dark Star: Coffee Edition  ...  Fremont Brewing Company

[1 rows x 6 columns]
How do you rate this beer on a scale of 1-5, press n if you have not had :
3
                          beer_name  ...             brewery_name
1014081  Dragonstooth Oatmeal Stout  ...  Elysian Brewing Company

[1 rows x 6 columns]
How do you rate this beer on a scale of 1-5, press n if you have not had :
5
                              beer_name  ...                                brewery_name
7396775  Black Frog Nitro Oatmeal Stout  ...  Snoqualmie Falls Brewing Company & Taproom

[1 rows x 6 columns]
How do you rate this beer on a scale of 1-5, press n if you have not had :
2

In [110]:
## add the new ratings to the original ratings DataFrame
new_ratings_df = codf.append(user_rating,ignore_index=True)
new_data = Dataset.load_from_df(new_ratings_df,reader)

In [111]:
new_ratings_df

           username  beer_id score
0       NickThePyro   320009     4
1           gandres   262748     4
2           DamienI   262748  3.75
3           gandres   298624  3.72
4      dshansen1184   298624  3.85
...             ...      ...   ...
78407     jmccraney   168379  3.25
78408          1000    48071     5
78409          1000   143753     3
78410          1000     2023     5
78411          1000    48938     2

[78412 rows x 3 columns]

In [112]:
svd_ = SVD(n_factors= 50, reg_all=0.05)
svd_.fit(new_data.build_full_trainset())

In [114]:
list_of_beer = []
for beer_id in codf['beer_id'].unique():
    list_of_beer.append( (beer_id,svd_.predict(1000,beer_id)[3]))

In [115]:
ranked_beers = sorted(list_of_beer, key=lambda x:x[1], reverse=True)

In [123]:
# trying to fix this
def recommended_beer(user_ratings,df,n):
        for idx, rec in enumerate(user_ratings):
            name = df.loc[df['beer_name'] == int(rec[0])]['beer_name']
            print('Recommendation # ', idx+1, ': ', name, '\n')
            n-= 1
            if n == 0:
                break
            
recommended_beer(ranked_beers,simpledf,5)

Recommendation #  1 :  Series([], Name: beer_name, dtype: object)

Recommendation #  2 :  Series([], Name: beer_name, dtype: object)

Recommendation #  3 :  Series([], Name: beer_name, dtype: object)

Recommendation #  4 :  Series([], Name: beer_name, dtype: object)

Recommendation #  5 :  Series([], Name: beer_name, dtype: object)

## Content-Based Recommendation

In [120]:
#coming soon